APP_URL=
CLIENT_URL=
DB_PATH=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
GEMINI_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL_DAYS=
JWT_SECRET=
SEED_PASSWORD=