CLIENT_URL=
DB_PATH=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL_DAYS=
JWT_SECRET=
NODE_ENV=
SEED_PASSWORD=
GEMINI_API_KEY=
APP_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
